<div class="es-campaign-mask" style="
	background-color: rgba(0, 153, 197, 0.65);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	">
	<div class="es-vcloud-campaign-container" style="
		position: relative;
		width: 415px;
		height: 415px;
		background-image: url('http://localhost:3001/images/VMWAREads_r3_c3.png');
		background-size: cover;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
		font-family: &quot;Open Sans&quot;;
		margin: 100px auto;
		">
		<a href="javascript:void(0)" onclick="esClosePopup()" class="es-close-button" style="
			float: right;
			margin: 10px;
			">
			<img src="/images/VMWAREads_r2_c7.png" alt="">
		</a>
		<div class="es-header" style="clear: both; color: white;margin: 0 15px;font-size: 20px;">Get started with VMware vCloud® Air™ OnDemand and try it for free with a $300 credit</div>
		<div class="es-content" style="
			margin: 26px 35px;
			">
			<form action="" style="
				">
				<input type="text" class="es-field" placeholder="work email(optional)" name="esWorkEmail" style="
				display: block;     width: 300px;     height: 40px;     margin: 20px 0;     font-size: 16px;     padding: 0 20px;font-family: inherit;
				">
				<input type="text" class="es-field" placeholder="contact number(optional)" name="esContactNumber" style="
				display: block;
				width: 300px;
				height: 40px;
				margin: 30px 0;
				font-size: 16px;
				padding: 0 20px;
				font-family: inherit;
				">
				<a href="#" onclick="esSubmit(event)" class="es-send-button" style="display: block; width: 187px; margin: 0 auto">
					<img src="/images/VMWAREads_r4_c5.png" alt="">
				</a>
			</form>
		</div>
		<div class="es-footer" style="
			position: absolute;
			bottom: 0;
			width: 100%;
			">
			<img src="/images/VMWAREads_r8_c6.png" alt="" class="es-es-logo" style="
			margin: 14px;
			">
			<img src="/images/VMWAREads_r6_c6.png" alt="" class="es-vmware-logo" style="
			position: absolute;
			right: 15px;
			">
		</div>
	</div>
</div>
<script>
	var esCaller = function(method){
		return function(url, data, callback, failed) {
			var xmlHTTP = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("MicrosoftXMLHTTP");
			xmlHTTP.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200)
					callback(this.responseText);
				else if (this.readyState == 4)
					failed();
			};
			xmlHTTP.open(method, url, true);
			xmlHTTP.setRequestHeader('Content-Type', 'application/json');
			xmlHTTP.send(data);
		};
	};
	var esPost = esCaller('POST');
	var esClosePopup = function() {
		var el = document.querySelector('.es-campaign-mask');
		el.parentNode.removeChild(el);
	};
	var esSubmit = function(event) {
		event = event || window.event;
		event.preventDefault();
		var elements = document.querySelectorAll('.es-field');
		var data = {};
		for (i = 0; i < elements.length; i++) {
			var el = elements[i];
			data[el.getAttribute('name')] = el.value;
		}
		data = JSON.stringify(data);
		esPost('http://localhost:3001/promotion/get-credit', data, esClosePopup, esClosePopup);
	};
</script>